{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <h2>Наши товары</h2>
</section>
<div class="product-grid">
    {% for product in products %}
    <div class="product-item">
        <img src="{{ url_for('static', filename='images/product_' ~ product.id ~ '.jpg') }}" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p>{{ product.price }} руб.</p>
        <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post">
            <input type="number" name="quantity" value="1" min="1">
            <button type="submit">Добавить в корзину</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
